// size (px)
$contanier: 1200px;

// colors
$black: #000;
$white: #fff;
$main-color: #173F5F;

:root {
  --index: calc(1vw + 1vh);
}

a {
  color: $main-color;
}

.container {
  max-width: $contanier;
  margin: 0 auto;
  padding: 0 15px;
}

.header {

  // FEEFBACK
  .feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .phone-link {
      animation: all .4s ease;
      font-weight: 550;

      &:hover {
        font-size: 18px;
      }

      i {
        margin-right: 8px;
      }
    }

    .socials {
      display: flex;
      gap: 0 30px;
      font-size: calc(var(--index) * .7);

      &-link {
        animation: all .4s ease;

        &:hover {
          transform: translate(0, -8px)
        }
      }
    }
  }

  hr {
    margin-top: 0px;
  }

  // PROFILE
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }

    &-img {
      img {
        width: 60px;
        height: 60px;
        border-radius: 10rem;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .search {
      input {
        border: none;
        background-color: #e7e7e7;
        padding: 10px 15px;
        border-radius: 10px;
        width: 180%;

        &:focus {
          outline: none;
        }

        @media (max-width: 1200px) {
          width: 100%;
        }

        @media (max-width: 767px) {
          width: 80%;
        }
      }
    }

    &-menu {
      display: flex;
      gap: 0 50px;

      .menu-item {
        text-transform: uppercase;
        font-weight: 550;
        font-size: calc(var(--index) * .7);

        &:hover {
          i {
            font-weight: 550;
          }
        }

        i {
          margin-right: 8px;

        }
      }
    }
  }

  // NAVBAR
  .navbar {
    background-color: $main-color;
    height: 50px;

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;

      &-menu {
        display: flex;
        gap: 0 40px;

        .menu-item {

          a {
            color: $white;
            text-transform: uppercase;
            font-weight: normal;
            font-size: calc(var(--index) * .7);
          }

          .active {
            font-weight: 600;
          }
        }
      }
    }
  }

  // HERO
  .hero {
    background-image:
      linear-gradient(85deg, #003a60 0%, #fff 100%);
    height: 75vh;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75vh;

      .swiper {
        width: 600px;
        height: 400px;

        &-slide {
          .title {
            font-size: calc(var(--index) * 2.5);
            line-height: 100%;
            color: $white;

          }

          .text {
            font-size: calc(var(--index) * 1);
            margin: 25px 0 40px 0;
            color: #e1e1e1;
          }

          .btn {
            border: 1px solid $white;
            padding: 10px 15px;
            border-radius: 10px;
            color: $white;
            animation: all .4s ease;

            i {
              margin-right: 8px;
            }

            &:hover {
              background-color: #003a60;

              i {
                font-weight: 550;
              }
            }
          }
        }

        &-pagination {
          width: 20%;
        }
      }

      .banner {
        img {
          width: 550px;
          height: 400px;
        }
      }
    }

  }

}